<div id="friend_form">
	<% if current_user.friends?(@user) %>
		<%= render 'users/unfriend' %>
	<% elsif current_user.request_sent?(current_user, @user) %>
		<%= render 'users/sent' %>
	<% else %>
		<%= render 'users/friend' %>
	<% end %>
</div>
