@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 50px;
  background-color: #e9ebee;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.alert{
  text-align: center;
  margin-bottom: 0px;
  padding: none;
}

/* header */

.header{
    /* background-color: #3B5998; */
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

.header-links{
    color: white;
}

.profile-header{
  background-color: #fff;
  float: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 900px;
  text-align: center;
  margin: auto;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.header-left{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.search-bar{
    height: 26px;
    top: 8px;
    width: 448px;
}

.facebook-login{
  width: 200px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.user-avatars {
  padding-right: 5px;
  .gravatar {
    border-radius: 50%;
  }
}

.post {
  text-align: left;
  background-color: #fff;
  width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 12px;
}

.new-post {
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
}

.new-post-label {
  width: 600px;
  margin: auto;
  padding: 5px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 5px;
}

.new-post-form {
  width: 600px;
  padding: 5px;
  margin: auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.new-post-button {
  width: 75px;
  background-color: #4267b2;
  color: white;
  margin: auto;
  margin-left: 525px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.author-name {
  font-size: 1.1em;
  color: #365899;
  list-style: none;
  float: left;
}

.time-ago {
  font-size: .9em;
  color: #90949c;
}

.like-button {
  width: 28px;
  background-color: white;
  color: #4267b2;
  margin: left;
  text-align: left;
  padding: 0px;
  border: none;
}

.unlike-button {
  width: 39px;
  background-color: white;
  color: #4267b2;
  margin: left;
  text-align: left;
  padding: 0px;
  border: none;
}

.new-comment-form {
  margin: auto;
  width: 600px;
  margin-bottom: 10px;
  border: none;
}

.comments-form {
  margin: auto;
  width: 600px;
  background-color: #f6f7f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.comments{
  display: inline-block;
  padding-left: 5px;
  padding-top: 1px;
}

.profile-details {
  display: table-cell; 
  vertical-align: top;
}

.profile-details-wrapper {
  display: table-row;
}

.photo-upload-form {
  border: none;
  background-color: #e9ebee;
}

.photo-upload-button {
  width: 75px;
  background-color: #4267b2;
  color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: none;
  margin-bottom: 10px;
}

.timeline-photo{
  display: block;
  margin: 0 auto;
  width: 900px;
}

.image1 {
  position: relative;
}

.image2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 3px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.friend-request-button {
  width: 100px;
  height: 25px;
  position: absolute;
  bottom: 5px;
  right: 21px;
  border-radius: 2px;
  background-color: #f6f7f9;
  border-color: #ced0d4;
  color: #4b4f56
}

.friend-request-form{
  margin: auto;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.friend-request-text{
  width: 100%;
}

.request-button {
  width: 75px;
  background-color: #4267b2;
  color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.profile-name {
  position: absolute;
  bottom: -15px;
  left: 250px;
  color: white;
  font-size: 2.5em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  padding-left: 17px;
  width: 200px;
  height: 20px;
}

.checkbox-field {
  width: 200px;
  height: 20px
}

.remember-me-checkbox {
  float: left;
  left: 0px;
  height: 20px;
  padding: 17px;
  margin: 200px;
}

#user-remember-me{
  float: left;
  height: 20px;
  left: 0px;
}


